# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

#whatsapp-web.js local auth
.wwebjs_auth

#node_modules
node_modules/
